---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "About Me";
---

<BaseLayout>
    <div class="md:flex gap-12 mt-10">
        <img
            src="/public/bek.png"
            alt="profile image"
            class="transform -rotate-[8deg] md:ml-24 w-32 h-32 rounded-lg mt-24 shadow-2xl"
        />
        <div class="max-w-[400px]">
            <h1 class="text-5xl font-lobster mb-10">{pageTitle}</h1>
            <p>
                After 33 years, I finally earned my Bachelor's degree, and now
                I'm embarking on a new adventure – pursuing my Master's in
                Information Technology. This blog will chronicle that journey,
                offering personal stories, coding accomplishments, and glimpses
                into the ever-evolving tech landscape.
            </p>
            <p>
                Through sharing my experiences, I hope to inspire others facing
                obstacles, demonstrating that with unwavering determination,
                anyone can make their dreams a reality.
            </p>
            <p>
                Thank you for joining me on this path. Let's make 2024 a year of
                growth, learning, and, above all, relentlessly chasing our
                dreams. Stay tuned for updates – your aspirations are worth the
                pursuit!
            </p>
        </div>
    </div>

    
</BaseLayout>
