---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
---

<BaseLayout>
  <div class="md:flex gap-12 mt-10">
    <img src="/images/bek.png" alt="profile image" class=" transform -rotate-[8deg] md:ml-24 w-32 h-32 rounded-lg mt-24 shadow-2xl" />
  <div class="max-w-[400px]">
    <h1 class="text-5xl font-lobster mb-10">{pageTitle}</h1>
        <p>
          Hello, wonderful readers! I'm Bek, and I'm delighted to have you on my internet space. After two decades on Social Security Disability, life has taken a turn, and I'm eager to share my remarkable journey with you.
          </p>
          <p>
            In the past 20 years, I faced challenges on Social Security Disability, but with the rise of remote work and improvements in my health, I seized the opportunity to go back to school.
          </p>
          <p>
            Starting with a writing for the web class, my journey into technology ignited a passion. After 33 years of working toward my degree, I proudly earned my BA in General Studies with a coding concentration from Southern New Hampshire University (SNHU).
          </p>
          <p>
            Now pursuing my MS in IT with a database specialization, I'm fueled by curiosity and determination, overcoming hurdles to excel in technology.
          </p>
    
          <p>
            Why start a blog? It's my way of sharing my journey, providing tutorials, and sharing tech insights. I want it to inspire those who, like me, believe in chasing dreams, no matter the time it takes.
          </p>
          <p>
            My goal is simple—encourage pursuing passions and overcoming obstacles. Life is a marathon, and I'm proof it's never too late to redefine your path.
          </p>
          <p>
            Join me on this adventure through my MS in IT. Expect personal anecdotes, coding triumphs, and insights into the tech world.
          </p>
          <p>
            Looking ahead, 2024 is when I aim to give back. Through my experiences, I hope to inspire others facing challenges, showing that with determination, anyone can achieve their dreams.
          </p>
          <p>
            Thanks for joining me on this journey. Let's make 2024 a year of growth, learning, and, most importantly, chasing dreams. Stay tuned for updates—your dreams are worth the chase!
          </p>
        </div>
      </div>
    </BaseLayout>   
