---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
---

<BaseLayout>
  <div class="md:flex gap-12 mt-10">
    <img src="/images/bek.png" alt="profile image" class=" transform -rotate-[8deg] md:ml-24 w-32 h-32 rounded-lg mt-24 shadow-2xl" />
  <div class="max-w-[400px]">
    <h1 class=" mt-10 md:mt-0 text-4xl font-bold">{pageTitle}</h1>
        <p>
            Hello, lovely readers! My name is Bek, and I'm thrilled to welcome you to my corner of the internet. After two decades on Social Security Disability, life has taken a turn, and I'm excited to share my incredible journey with you.
          </p>
          <p>
            Over the past 20 years, I navigated the challenges that life threw my
            way while on Social Security Disability. However, with the rise of
            remote work and significant improvements in my health, I found the
            perfect opportunity to embark on a new chapter in my life. That's when I
            decided to go back to school.
          </p>
          <p>
            My journey into the world of technology began with a writing for the web class. Little did I know that this would be the starting point for a passion that would redefine my life. The allure of programming captured my heart, and I decided to take a giant leap. After an astonishing 33 years, I proudly earned my BA in General Studies with a concentration in coding from Southern New Hampshire University (SNHU).
          </p>
          <p>
            But the journey didn't stop there. Fuelled by an insatiable curiosity and determination, I am currently pursuing my MS in IT with a specialization in databases. It's been a rollercoaster of challenges and victories, but every hurdle has only strengthened my resolve to excel in the world of technology.
          </p>
    
          <p>
            Why start a blog, you ask? Well, this platform is my way of sharing my journey with you and the world. It's a space where I can document my experiences, provide helpful tutorials, and share insightful tech articles. I want this blog to be a beacon of inspiration for those who, like me, believe in the power of chasing dreams, no matter how long it takes.
          </p>
          <p>
            My goal is simple—to encourage individuals to pursue their passions and overcome obstacles, regardless of their starting point. Life is a marathon, not a sprint, and I am living proof that it's never too late to redefine your path.
          </p>
          <p>
            As I navigate the challenges of my MS in IT, I invite you to join me on this adventure. Expect a mix of personal anecdotes, coding triumphs, and perhaps a few confessions about the occasional late-night debugging session. Together, we'll explore the ever-evolving world of technology, and I'll share the tips and tricks I pick up along the way.
          </p>
          <p>
            Looking ahead, I'm optimistic that 2024 will be the year I give back to society. Through my experiences, I hope to inspire others facing similar challenges, proving that with determination and resilience, anyone can overcome obstacles and achieve their dreams.
          </p>
          <p>
            Thank you for joining me on this exciting journey. Together, let's make 2024 a year of growth, learning, and, most importantly, chasing dreams. Stay tuned for more updates, and remember—your dreams are worth the
            chase!
          </p>
        </div>
      </div>
    </BaseLayout>   
