---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Contact Me";
---

<BaseLayout>
    <section>
        <div>
            <h1 class="text-5xl font-lobster mb-10">{pageTitle}</h1>
            <form
                action="https://formsubmit.co/bektoothefuture@gmail.com"
                method="POST"
                class="space-y-8"
            >
                <div>
                    <label
                        for="subject"
                        class="block mb-2 text-sm font-bold text-gray-900"
                        >Name</label
                    >
                    <input
                        type="text"
                        name="name"
                        class="block p-3 w-full text-sm bg-[#d29092] rounded-lg border border-gray-300 text-black shadow-sm focus:ring-primary-500 focus:border-primary-500 placeholder:text-black"
                        placeholder="Who are you?"
                        required
                    />
                </div>
                <div>
                    <label
                        for="email"
                        class="block mb-2 text-sm font-bold text-gray-900"
                    >
                        Email</label
                    >
                    <input
                        type="email"
                        name="email"
                        class="shadow-sm border border-gray-400 text-black text-sm rounded-lg focus:ring-primary-500 focus:border-sky-500 block w-full p-2.5 bg-[#d29092] placeholder:text-black"
                        placeholder="email@example.com"
                        required
                    />
                </div>
                <div class="sm:col-span-2">
                    <label
                        for="message"
                        class="block mb-2 text-sm font-bold text-gray-900"
                        >Message</label
                    >
                    <textarea
                        id="message"
                        rows="6"
                        class="block p-2.5 w-full text-sm text-black bg-[#d29092] rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder:text-black"
                        placeholder="Write your message here..."></textarea>
                </div>
                <button
                    type="submit"
                    class="py-3 px-5 text-sm font-bold text-center text-[#d29092] rounded-lg bg-blue-600 sm:w-fit hover:bg-[#d29092] hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
                    >Send</button
                >
            </form>
        </div>
    </section>
</BaseLayout>
