---
pageTitle: "Home";
import BaseLayoutWithoutNavAndFooter from "../layouts/BaseLayoutWithoutNavAndFooter.astro";
import "../styles/global.css";

---

<BaseLayoutWithoutNavAndFooter>
    <style>
        body {
            background-color: rgb(5, 17, 25);
        }
        /* Hide navigation */
        .navbar {
            display: none;
        }
    </style>

    <!-- Container for the content -->
    <div class="background-image">
        <div class="text-center pt-8"></div>
        <div class="text-center pb-8 mb-10 ">
            <h1 class="text-white mb-10 text-4xl font-bold">Hop on in...</h1>
            <a
                href="/blog"
                class="px-4 py-4 bg-[rgb(210,144,162)] font-bold uppercase text-white rounded-md hover:bg-blue-600 hover:text-[rgb(210,144,162)]"
                >the future awaits!</a
            >
        </div>
    </div>
</BaseLayoutWithoutNavAndFooter>

<script>
    import "../scripts/menu.js";
  </script>