---

import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "Bek to the Future";

---

<BaseLayout pageTitle={pageTitle}>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <div>
      <h2 class="subtitle">The Future awaits ...</h2>
    </div>
    <div style="position: relative;">
      <img src="https://res.cloudinary.com/dthlauufo/image/upload/v1701368796/bttf_logo_lm7rcu.jpg" alt="Back to the Future logo image" style="width: 100%;">
      <div style="position: absolute; bottom: 0; right: 0; background: rgba(255, 255, 255, 0.3); padding: 10px;">
        <p class="subtitle">... but you can't see it yet.</p>
      </div>
    </div>
  </div>
</BaseLayout>
