---
pageTitle: "Home";
import BaseLayoutWithoutNavAndFooter from "../layouts/BaseLayoutWithoutNavAndFooter.astro";
import "../styles/global.css";
---

<BaseLayoutWithoutNavAndFooter>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        /* Custom styles */
        .background-image {
            background-image: url("/delorean_logo.png");
            background-size: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        /* Hide navigation */
        .navbar {
            display: none;
        }
    </style>

    <!-- Container for the content -->
    <div class="background-image">
        <div class="text-center pt-8"></div>
        <div class="text-center pb-8">
            <h1 class="text-white text-4xl font-bold">Hop on into...</h1>
            <a
                href="/blog"
                class="px-4 py-4 bg-[rgb(210,144,162)] font-bold uppercase text-white rounded-md hover:bg-blue-600 hover:text-[rgb(210,144,162)]"
                >the future awaits!</a
            >
        </div>
    </div>
</BaseLayoutWithoutNavAndFooter>
