---
const platform = "X";
const username = "thedevbek";
---


    <footer >
      <p>Follow me on</p>
     <span>
        <a href={`https://www.${platform}.com/${username}`} target="_blank">
          <img src="https://res.cloudinary.com/dthlauufo/image/upload/v1701368817/x-logo_fit4fz.svg" alt="X logo" class="h-5 w-5" />
        </a>
      </span>
        <p> -Twitter for the latest shenanigans!</p>
    </footer>

  