---

---

<nav class="nav-links">
    <!-- Left links -->
    <div class="left-links">
       
        <a href="/blog/">Blog</a>
        <a href="/about/">About</a>
    </div>
    <!-- Right button -->
    <a class="buymeacoffee"
        href="https://www.buymeacoffee.com/bektothefuture"
        target="_blank"
        
    >
        <img
            class="img-buymeacoffee"
            src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
            alt="Buy Me A Coffee"
        />
    </a>

</nav>

