

<style>

.navbar a {
  text-decoration: none;
  padding: 5px 20px; 
  color: #242423; 
  display: inline-block;
  text-align: center;
  border-radius: 50px; 
}

.navbar a.active {
  background-color: #004f69;
  color: #fbf2ea;
}
</style>

<nav class="navbar">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/about">About</a>
  <a href="/contact/">Contact</a>
</nav>


<!--Set active class on nav when the page is active -->
<script>
  const nav = document.querySelector(".navbar");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>